name: Build Patched HostFXR

on:
  workflow_dispatch:

jobs:
    win-x64:
      name: Build win-x64 Artifacts
      runs-on: windows-2022
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git config --system core.longpaths true
            git clone https://github.com/dotnet/runtime.git
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid win-x64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_win-x64
            path: runtime/artifacts-patched

    win-x86:
      name: Build win-x86 Artifacts
      runs-on: windows-2022
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git config --system core.longpaths true
            git clone https://github.com/dotnet/runtime.git
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid win-x86 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_win-x86
            path: runtime/artifacts-patched

    win-arm64:
      name: Build win-arm64 Artifacts
      runs-on: windows-2022
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git config --system core.longpaths true
            git clone https://github.com/dotnet/runtime.git
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid win-arm64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols -cross
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_win-arm64
            path: runtime/artifacts-patched

    linux-x64:
      name: Build linux-x64 Artifacts
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git clone https://github.com/dotnet/runtime.git
            sudo bash ./runtime/eng/common/native/install-dependencies.sh
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid linux-x64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_linux-x64
            path: runtime/artifacts-patched

    linux-arm:
      name: Build linux-arm Artifacts
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git clone https://github.com/dotnet/runtime.git
            sudo bash ./runtime/eng/common/native/install-dependencies.sh
            sudo apt install -y binfmt-support debootstrap qemu qemu-user-static
            sudo bash ./runtime/eng/common/cross/build-rootfs.sh arm bionic
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            ROOTFS_DIR=${{ github.workspace }}/runtime/.tools/rootfs/arm pwsh ./buildPatch.ps1 -rid linux-arm -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols -cross
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_linux-arm
            path: runtime/artifacts-patched

    linux-arm64:
      name: Build linux-arm64 Artifacts
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            git clone https://github.com/dotnet/runtime.git
            sudo bash ./runtime/eng/common/native/install-dependencies.sh
            sudo apt install -y binfmt-support debootstrap qemu qemu-user-static
            sudo bash ./runtime/eng/common/cross/build-rootfs.sh arm64 bionic
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            ROOTFS_DIR=${{ github.workspace }}/runtime/.tools/rootfs/arm64 pwsh ./buildPatch.ps1 -rid linux-arm64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols -cross
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_linux-arm64
            path: runtime/artifacts-patched

    osx-x64:
      name: Build osx-x64 Artifacts
      runs-on: macos-15-intel
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            sudo xcode-select --switch /Applications/Xcode_14.3.1.app/Contents/Developer
            git clone https://github.com/dotnet/runtime.git
            bash ./runtime/eng/common/native/install-dependencies.sh
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid osx-x64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_osx-x64
            path: runtime/artifacts-patched

    osx-arm64:
      name: Build osx-arm64 Artifacts
      runs-on: macos-15-intel
      steps:
        - uses: actions/checkout@v4
          with:
            ref: Patcher
        - run: |
            sudo xcode-select --switch /Applications/Xcode_14.3.1.app/Contents/Developer
            git clone https://github.com/dotnet/runtime.git
            bash ./runtime/eng/common/native/install-dependencies.sh
            cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
            cd ./runtime/HostFXRPatcher/
            pwsh ./updateVersionReleases.ps1
            pwsh ./buildPatch.ps1 -rid osx-arm64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols -cross
        - uses: actions/upload-artifact@v4
          with:
            name: patched-hostfxr_osx-arm64
            path: runtime/artifacts-patched
