name: older gcc test

on:
  workflow_dispatch:

jobs:
  linux-older-gcc:
    name: test older gcc
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: Patcher
      - run: |
          sudo apt remove clang clang-13 clang-14 clang-15
          sudo apt autoremove
          sudo apt update

          sudo rm -f /usr/bin/clang
          sudo rm -f /usr/bin/clang-13
          sudo rm -f /usr/bin/clang-14
          sudo rm -f /usr/bin/clang-15

          sudo rm -f /usr/bin/clang++
          sudo rm -f /usr/bin/clang++-13
          sudo rm -f /usr/bin/clang++-14
          sudo rm -f /usr/bin/clang++-15

          wget https://releases.llvm.org/3.9.0/clang+llvm-3.9.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz
          tar -xvJf clang+llvm-3.9.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz
          sudo mkdir /opt/clang-3.9
          cd clang+llvm-3.9.0-x86_64-linux-gnu-ubuntu-16.04/
          sudo cp -r * /opt/clang-3.9/
          cd ..
          sudo ln -s /opt/clang-3.9/bin/clang /usr/local/bin/clang
          sudo ln -s /opt/clang-3.9/bin/clang++ /usr/local/bin/clang++
          sudo ln -s /opt/clang-3.9/bin/clang /usr/bin/clang
          sudo ln -s /opt/clang-3.9/bin/clang++ /usr/bin/clang++

          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/g++-4.8_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/libstdc++-4.8-dev_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/gcc-4.8-base_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/gcc-4.8_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/libgcc-4.8-dev_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/cpp-4.8_4.8.5-4ubuntu8_amd64.deb 
          wget http://mirrors.kernel.org/ubuntu/pool/universe/g/gcc-4.8/libasan0_4.8.5-4ubuntu8_amd64.deb  
          sudo apt install -y ./gcc-4.8_4.8.5-4ubuntu8_amd64.deb ./gcc-4.8-base_4.8.5-4ubuntu8_amd64.deb ./libstdc++-4.8-dev_4.8.5-4ubuntu8_amd64.deb ./cpp-4.8_4.8.5-4ubuntu8_amd64.deb ./libgcc-4.8-dev_4.8.5-4ubuntu8_amd64.deb ./libasan0_4.8.5-4ubuntu8_amd64.deb ./g++-4.8_4.8.5-4ubuntu8_amd64.deb

          sudo rm -rf /usr/lib/gcc/x86_64-linux-gnu/9
          sudo rm -rf /usr/lib/gcc/x86_64-linux-gnu/10
          sudo rm -rf /usr/lib/gcc/x86_64-linux-gnu/11
          sudo rm -rf /usr/lib/gcc/x86_64-linux-gnu/12

          git clone https://github.com/dotnet/runtime.git
          sudo bash ./runtime/eng/common/native/install-dependencies.sh
          cp -r ./HostFXRPatcher/ ./runtime/HostFXRPatcher
          cd ./runtime/HostFXRPatcher/
          pwsh ./updateVersionReleases.ps1
          pwsh ./buildPatch.ps1 -rid linux-x64 -configuration Release -versions ${{ vars.VERSIONS }} -portable -stripsymbols
      - uses: actions/upload-artifact@v4
        with:
          name: patched-hostfxr_linux-x64
          path: runtime/artifacts-patched
      - uses: fawazahmed0/action-debug-vscode@main
